<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459198849277-n011973h13tnp91ojuntb76843gg81ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459198849277-n011973h13tnp91ojuntb76843gg81ai</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>459198849277-d0t3mttdcd3qulj7hb3kg1ana92i9pk3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7mHfLBE2dKiAdjUV7c3fWoWOsbMiPsW4</string>
	<key>GCM_SENDER_ID</key>
	<string>459198849277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sss.bookswap</string>
	<key>PROJECT_ID</key>
	<string>bookswap-421312</string>
	<key>STORAGE_BUCKET</key>
	<string>bookswap-421312.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459198849277:ios:c2d1d4bac90282ae349e94</string>
</dict>
</plist>